# -*- coding: utf-8 -*-
#
# MONK Automated Testing Framework
#
# Copyright (C) 2013 DResearch Fahrzeugelektronik GmbH
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version
# 2 of the License, or (at your option) any later version.
#

language: python

python:
 - "2.7"

install:
 - "pip install -r requirements-test.txt"
 - "python setup.py develop"

script:
 - "python setup.py nosetests"
 - "python setup.py lint || [ \"$?\" -ne 32 ]"

before_install:
 - "sudo apt-get install python2.7-dev libssh2-1-dev"
