<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job generates the documentation for the MONK dev branch and runs some quality assurance checks on it.&lt;br /&gt;&#xd;
&lt;br /&gt;&#xd;
&lt;a href=&quot;lastSuccessfulBuild/artifact/doc/build/html/index.html&quot;&gt;&lt;b&gt;Latest Docs&lt;/b&gt;&lt;/a&gt;</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>30</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>https://github.com/DFE/MONK.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>origin/dev</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <browser class="hudson.plugins.git.browser.GithubWeb">
      <url>https://github.com/DFE/MONK/</url>
    </browser>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>*/5 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo -e -n &quot;\n++++++++++ Create Virtualenv ++++++++++\n\n&quot;
virtualenv .
. bin/activate

echo -e -n &quot;\n++++++++++ Install Requirements ++++++++++\n\n&quot;
pip install -r requirements-test.txt

echo -e -n &quot;\n++++++++++ Runnung all unit tests ++++++++++\n\n&quot;
python setup.py nosetests

echo -e -n &quot;\n++++++++++ Generating documentation ++++++++++\n\n&quot;
make -C doc html

echo -e -n &quot;\n++++++++++ Checking Python code ++++++++++\n\n&quot;
# pylint has some unpleasant exit codes:
# * 0 if everything went fine
# * 1 if a fatal message was issued
# * 2 if an error message was issued
# * 4 if a warning message was issued
# * 8 if a refactor message was issued
# * 16 if a convention message was issued
# * 32 on usage error
# status 1 to 16 will be bit-ORed so you can know which different
# categories has been issued by analysing pylint output status code
# --&gt; we interpret 32 as error only
python setup.py lint || [ $? -ne 32 ]

echo -e -n &quot;\n++++++++++ Deactivate Virtualenv ++++++++++\n\n&quot;
deactivate
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.test.AggregatedTestResultPublisher>
      <includeFailedBuilds>true</includeFailedBuilds>
    </hudson.tasks.test.AggregatedTestResultPublisher>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>doc/build/**/*, *.xml</artifacts>
      <latestOnly>true</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.BuildTrigger>
      <childProjects>HIPOS_kill_all_hanging_github-dfe-SCMs</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>nosetests.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.tasks.JavadocArchiver plugin="javadoc@1.1">
      <javadocDir>doc/build/html</javadocDir>
      <keepAll>false</keepAll>
    </hudson.tasks.JavadocArchiver>
  </publishers>
  <buildWrappers/>
</project>